<nav>
    <div class="nav">
        <a href="../index">Home</a>
        <a href="../about">About</a>
        <a href="../contact">Contact</a>
    </div>
</nav>

<style>
    body {
        margin: 0;
        padding: 0;
    }
    nav {
        background-color: orange;
        display: flex;
        justify-content: center;
    }
    .nav {
        display: flex;
        color: white;
        justify-content: space-between;
        width: 40%;
    }
    a {
        text-decoration: none;
        font-size: larger;
        cursor: pointer;
        padding: 10px;
        color: white;
    }
    a:hover {
        background-color: white;
        color: orange;
    }
    a:active {
        background-color: white;
        color: orange;
    }
</style>