<div class="notification">
    Welcome To My App
</div>

<style>
    .notification {
        background-color: green;
        color: white;
        display: inline-block;
        text-align: center;
        width: 200px;
        padding: 10px;
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0px 10px 10px 0px;
    }
</style>